APP_ENV=dev
APP_URL=http://localhost:8080

DB_HOST=mysql
DB_PORT=3306
DB_NAME=taskflow
DB_USER=taskflow
DB_PASSWORD=taskflow

JWT_SECRET=change-me-super-secret-key
JWT_ACCESS_TTL=900
JWT_REFRESH_TTL=604800

CORS_ALLOW_ORIGIN=http://localhost:8080
RATE_LIMIT_PER_MINUTE=60
